<script>
	import { fade } from "svelte/transition";
	import { cubicOut } from "svelte/easing";
</script>

<main in:fade={{ duration: 300, delay: 300, easing: cubicOut }} out:fade={{ duration: 300 }}>
	<h1>404 - Not Found</h1>
	<a href="/">Home</a>
</main>

<style>
	a {
		color: var(--white);
		text-decoration: none;
		transition: var(--transition-linear);
		font-family: "ZillaSlab", serif;
		font-size: 2rem;
		padding: 0.5rem;
	}

	:global(.light) a {
		color: var(--background);
	}
</style>