<script>
	import { fade } from "svelte/transition";
	import { cubicOut } from "svelte/easing";
</script>

<svelte:head>
	<title>BTD6 Stats</title>
</svelte:head>

<main in:fade={{ duration: 300, delay: 300, easing: cubicOut }} out:fade={{ duration: 300 }}>
	<h1>Home</h1>
	<a href="/towers">Towers</a>
	<a href="/heroes">Heroes</a>
	<a href="/bloons">Bloons</a>
	<a href="/rounds">Rounds</a>
	<p>still under construction</p>
	<p>stats are currently dart monkey only</p>
	<p>other stats have to be updated</p>
	<p>if you want to help, visit my <a href="www.github.com/avitran0" id="gh-btn">github</a></p>
</main>

<style>
	a {
		color: var(--white);
		transition: var(--transition-linear);
		font-family: "ZillaSlab", serif;
		font-size: 1.5rem;
		padding: 0.5rem;
		text-decoration: underline;
	}

	:global(.light) a {
		color: var(--background);
	}

	#gh-btn {
		font-family: "Nunito", sans-serif;
		font-size: 1.2rem;
		padding: 0;
	}
</style>
