<script>
	import { fade } from "svelte/transition";
	import { cubicOut } from "svelte/easing";

	import heroes from "../../json/heroes.json";
</script>

<svelte:head>
	<title>Heroes - BTD6 Stats</title>
</svelte:head>

<main in:fade={{ duration: 300, delay: 300, easing: cubicOut }} out:fade={{ duration: 300 }}>
	<h1>Heroes</h1>
	<div class="tower-container">
		{#each heroes as data}
			<a href={"/heroes/" + data.id}>
				<img src="/images/{data.id}/lv0.png" alt={data.name} />
				<h3>{data.name}</h3>
			</a>
		{/each}
	</div>
</main>

<style>
	.tower-container {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0 2rem;
	}

	a {
		color: var(--white);
		transition: var(--transition-linear);
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0.5rem 0;
		text-align: center;
	}

	:global(.light) a {
		color: var(--background);
	}

	img {
		max-height: 8rem;
		max-width: 8rem;
		object-fit: cover;
		padding: 0.5rem;
		border-radius: 0.5rem;
		border: 2px solid var(--white);
		transition: var(--transition-linear);
	}

	:global(.light) img {
		border: 2px solid var(--background);
	}

	h3 {
		font-size: 1.3rem;
		margin: 0.2rem 0 0;
	}

	h3::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--white);
		transition: var(--transition-linear);
		transform: scaleX(0);
	}

	a:hover h3::after {
		transform: scaleX(1);
	}

	@media (min-width: 64rem) {
		img {
			max-height: 10rem;
			max-width: 10rem;
		}
	}

	@media (min-width: 32rem) {
		.tower-container {
			flex-direction: row;
			align-items: flex-end;
		}
	}
</style>
