<script>
	import { fade } from "svelte/transition";
	import { cubicOut } from "svelte/easing";

	import rounds from "../../json/rounds.json";
	import abr from "../../json/abr.json";

	let abrToggle = false;

	function toggleAbr() {
		abrToggle = !abrToggle;
	}
</script>

<svelte:head>
	<title>Rounds - BTD6 Stats</title>
</svelte:head>

<main in:fade={{ duration: 300, delay: 300, easing: cubicOut }} out:fade={{ duration: 300 }}>
	<h1>Rounds</h1>
	<div class="round-switch">
		<button class={abrToggle ? "" : "active"} on:click={abrToggle ? toggleAbr : ""}>Normal</button>
		<button class={abrToggle ? "active" : ""} on:click={abrToggle ? "" : toggleAbr}>ABR</button>
	</div>
	<div class="table-wrapper">
		<table>
			<tr>
				<th>Round</th>
				<th>RBE</th>
				<th>Bloons</th>
			</tr>
			{#if !abrToggle}
				{#each rounds as data}
					<tr>
						<td>{data["round"]}</td>
						<td>{data["rbe"]}</td>
						<td class="smol"
							>{#each data.bloons as bloon}{bloon.amount}x
								<img src="/images/bloons/{bloon['id']}.png" alt={bloon["id"]} title={bloon["id"]} />&emsp;{/each}</td
						>
					</tr>
				{/each}
			{:else}
				{#each abr as data}
					<tr>
						<td>{data["round"]}</td>
						<td>{data["rbe"]}</td>
						<td class="smol"
							>{#each data.bloons as bloon}{bloon.amount}x
								<img src="/images/bloons/{bloon['id']}.png" alt={bloon["id"]} title={bloon["id"]} />&emsp;{/each}</td
						>
					</tr>
				{/each}
			{/if}
			<tr class="bottom">
				<th>Round</th>
				<th>RBE</th>
				<th>Bloons</th>
			</tr>
		</table>
	</div>
</main>

<style>
	.round-switch {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	button {
		font-family: "ZillaSlab", serif;
		font-size: 1.5rem;
		color: var(--white);
		border: none;
		transition: var(--transition-linear);
		padding: 0 0.4rem;
		background-color: transparent;
		cursor: pointer;
	}

	button::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--white);
		transition: var(--transition-linear);
		transform: scaleX(0);
	}

	button:hover::after {
		transform: scaleX(1);
	}

	button.active::after {
		transform: scaleX(1);
	}

	:global(.light) button {
		color: var(--background);
	}

	:global(.light) button::after {
		background-color: var(--background);
	}

	.table-wrapper {
		overflow-x: auto;
		white-space: nowrap;
		max-width: calc(100vw - 4rem);
		border: 2px solid var(--white);
		margin: 1rem 0;
		border-radius: 0.5rem;
		transition: var(--transition-linear);
	}

	:global(.light) .table-wrapper {
		border: 2px solid var(--background);
	}

	table {
		text-align: center;
		transition: var(--transition-linear);
		border-radius: 0.5rem;
		cursor: default;
		margin: 0 auto;
		border-spacing: 0;
	}

	th {
		font-family: "ZillaSlab", serif;
		font-size: 1.5rem;
		border-bottom: 2px solid var(--white);
		transition: var(--transition-linear);
		padding: 0 0.4rem;
	}

	:global(.light) th {
		border-bottom: 2px solid var(--background);
	}

	.bottom th {
		border-bottom: none;
		border-top: 2px solid var(--white);
	}

	:global(.light) .bottom th {
		border-bottom: none;
		border-top: 2px solid var(--background);
	}

	tr {
		font-size: 1.2rem;
	}

	td {
		padding: 0.2rem 0.4rem;
		font-size: 1.3rem;
		border-top: 1px solid var(--white);
		border-bottom: 1px solid var(--white);
		transition: var(--transition-linear);
	}

	:global(.light) td {
		border-top: 1px solid var(--background);
		border-bottom: 1px solid var(--background);
	}

	td img {
		max-height: 2rem;
		max-width: 2rem;
	}

	:global(.light) img {
		filter: drop-shadow(0 0 0.1rem var(--background));
		transition: var(--transition-linear);
	}

	.smol {
		font-size: 1rem;
	}
</style>
